/node_modules
/.next
/dist
/build
/coverage
/.nyc_output

/LICENSE
/.env
/.gitignore
/.gitattributes
/.prettierignore
/.editorconfig
/.eslintignore
/.yarnclean
/yarn.lock

*.svg
*.ttf
*.woff

*.jpg
*.png
*.gif
*.ico
*.mp3

*.log

*.sh
*.xml
