.avatar {
    @apply block;
    @apply rounded-full;

    width: 38px;
    height: 38px;
}

.progress {
    @apply flex;
    @apply w-full;
    @apply overflow-hidden;
    @apply bg-gray;
    @apply rounded;

    min-width: 9rem;
    height: 8px;
}

.progress-bar {
    background-color: var(--progress-color);
    border-radius: 4px;
}

.color-1 {
    --progress-color: #717171;
}

.color-2 {
    --progress-color: #cd45a2;
}

.color-3 {
    --progress-color: #8145cd;
}

.color-4 {
    --progress-color: #4d53d9;
}

.color-5 {
    --progress-color: #13cd3c;
}
